.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px auto 300px;
  grid-column-gap: 10px;
  padding: 10px;
}

.welcome {
  grid-column: 2;
}

.hints {
  grid-column: 1;
}

.map {
  grid-column: 2;
}

.scoreboard {
  grid-column: 3;
}
